@use "../abstracts/" as abstracts;

#home-page-grid {
  // grid grid-cols-1 md:grid-cols-3 gap-4
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: calc(abstracts.$spacing) * 4;
  @media (min-width: abstracts.$breakpoint-md) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.page-card h3 {
  font-size: abstracts.$text-lg;
  line-height: abstracts.$leading, abstracts.$text-lg--line-height;
  font-weight: abstracts.$font-weight-semibold;
}
.page-card p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  font-size: abstracts.$text-sm;
  line-height: abstracts.$leading, abstracts.$text-sm--line-height;
  color: abstracts.$color-zinc-600;
  @media (prefers-color-scheme: dark) {
    color: abstracts.$color-zinc-400;
  }
}
.page-card .arrow-icon {
  pointer-events: none;
  position: absolute;
  top: calc(abstracts.$spacing) * 2;
  right: calc(abstracts.$spacing) * 2;
  width: calc(abstracts.$spacing) * 5;
  height: calc(abstracts.$spacing) * 5;
  color: abstracts.$color-zinc-500;
  -webkit-user-select: none;
  user-select: none;
  &:is(:where(.group):hover *) {
    color: abstracts.$color-zinc-600;
  }
  @media (prefers-color-scheme: dark) {
    color: abstracts.$color-zinc-400;
  }
  @media (prefers-color-scheme: dark) {
    &:is(:where(.group):hover *) {
      color: abstracts.$color-zinc-500;
    }
  }
}

.page-card {
  position: relative;
  display: block;
  :where(& > :not(:last-child)) {
    margin-block-start: calc(calc(abstracts.$spacing) * 2) *
      abstracts.$space-y-reverse;
    margin-block-end: calc(calc(abstracts.$spacing) * 2) *
      calc(1 - abstracts.$space-y-reverse);
  }
  border-radius: abstracts.$radius-lg;
  border-style: abstracts.$border-style;
  border-width: abstracts.$border-width;
  border-color: abstracts.$color-zinc-200;
  padding: calc(abstracts.$spacing) * 4;
  transition-property: color, background-color, border-color, outline-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform,
    translate, scale, rotate, filter, -webkit-backdrop-filter, backdrop-filter,
    display, content-visibility, overlay, pointer-events;
  transition-timing-function: abstracts.$default-transition-timing-function;
  transition-duration: abstracts.$default-transition-duration;
  &:hover {
    background-color: abstracts.$color-zinc-50;
  }
  @media (prefers-color-scheme: dark) {
    border-color: abstracts.$color-zinc-800;
  }
  @media (prefers-color-scheme: dark) {
    &:hover {
      background-color: abstracts.$color-zinc-900;
    }
  }
}
